name: Release
on:
  push:
    tags: ['v*.*.*']
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build images
        run: |
          docker build -t ${{ github.repository }}:api-${{ github.ref_name }} ./api
          docker build -t ${{ github.repository }}:worker-${{ github.ref_name }} ./api/workers
          docker build -t ${{ github.repository }}:ui-${{ github.ref_name }} ./ui
