services:
  api:
    environment:
      - PYTHONPATH=/app:/opt/srw
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./smart_report_writer:/opt/srw:delegated
      - shareddata:/shared

  worker:
    environment:
      - PYTHONPATH=/app:/opt/srw
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./smart_report_writer:/opt/srw:delegated
      - shareddata:/shared

  ui:
    volumes:
      - shareddata:/shared

volumes:
  shareddata:
