services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
  worker:
    build:
      context: .
      dockerfile: api/workers/Dockerfile
  ui:
    build:
      context: .
      dockerfile: ui/Dockerfile
