services:
  api:
    environment:
      OLLAMA_BASE_URL: http://host.docker.internal:11434
      OLLAMA_MODEL: llama3.2:latest
      MODEL_TEMPERATURE: "0.2"

      POSTGRES_DSN: postgresql+psycopg2://srw:srw@db:5432/srw
      REDIS_URL: redis://redis:6379/0
      S3_ENDPOINT: http://minio:9000
      S3_BUCKET: srw-artifacts
      S3_REGION: us-east-1
      S3_ACCESS_KEY: minio
      S3_SECRET_KEY: minio123

      OIDC_ISSUER: http://localhost:8000/dev-issuer
      OIDC_AUDIENCE: srw-api
      OIDC_CLIENT_ID: dev-ui
      OIDC_CLIENT_SECRET: dev-secret

      ALLOWED_MIME_LIST: text/plain,text/markdown,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,text/csv,application/json,application/vnd.ms-excel,text/html
      MAX_UPLOAD_MB: "50"
      SRW_PER_FILE_CAP: "12000"
      SRW_TOTAL_CAP: "150000"

  worker:
    environment:
      OLLAMA_BASE_URL: http://host.docker.internal:11434
      OLLAMA_MODEL: llama3.2:latest
      MODEL_TEMPERATURE: "0.2"

      POSTGRES_DSN: postgresql+psycopg2://srw:srw@db:5432/srw
      REDIS_URL: redis://redis:6379/0
      S3_ENDPOINT: http://minio:9000
      S3_BUCKET: srw-artifacts
      S3_REGION: us-east-1
      S3_ACCESS_KEY: minio
      S3_SECRET_KEY: minio123

      SRW_PER_FILE_CAP: "12000"
      SRW_TOTAL_CAP: "150000"
